:root{
    --commone-font:"Josefin Sans", sans-serif;
    --icons-color: #151A32;
    --cmn-clr:#FF6F61;
}
body{
    font-family: var(--commone-font);
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

/********************* NAV-START********************** */
nav ul li{
    padding: 0 22px;
}
nav .navbar-nav{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
nav ul li a{
    padding: 0 !important;
}
nav .icons{
    display: flex;
    margin-bottom: 0 !important;
    padding-left: 0 !important;
}
nav .icons li {
    padding: 0 10px !important;
}
nav .icons li a{
    color: var(--icons-color);
}
nav .dropdown-toggle::after {
    display: none;
    /* background-color: red; */
}
nav .down-arrow{
    position: absolute;
    top: 2px;
    right: 5.5px;
}
nav .cart-count{
    position: relative;
}
nav .cart-count .count{
    background-color: var(--cmn-clr);
    color: #fff;
    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
    line-height: 15px;
    border-radius: 50%;
    font-size: 14px;
    position: absolute;
    top: -1px;
    right: 1px;
}
nav .navbar-toggler {
  border: none !important;
  font-size: 25px;
}
.search-box{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.search-box.active_search{
    opacity: 1;
    visibility: visible;
}
.search-box input{
    border: none;
    outline: none;
    width: 0px;
    padding: 10px 30px;
    border-radius: 50px;
    background-color: transparent;
    border: 2px solid var(--cmn-clr);
    color: #fff;
    transition: 0.5s;
}
.search-box input.active_input{
    width: 500px;
}
.search-box input::placeholder{
    color: #fff;
}
.search-box  .test{
    position: relative;
}
.search-box  button{
    border: none;
    outline: none;
    position: absolute;
    right: 20px;
    background-color: transparent;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}
.search-box .cross-btn{
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 2px solid var(--cmn-clr);
    color: #fff;
    text-align: center;
    line-height: 60px;
    font-size: 25px;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    top: 30px;
    transition: 0.5s;
}
.search-box .cross-btn:hover{
    background-color: var(--cmn-clr);
    transform: rotate(360deg);
    cursor: pointer;
}
/********************* NAV-END*************************/